<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>&ndash;New product&ndash;</title>
  <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
<a data-th-href="@{list}"> Exit to list</a>
<h1>New product create</h1>
<div data-th-if="${errors}">
  <h2>You have a mistakes</h2>
  <ul>
    <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
  </ul>
</div>
<form method="post" data-th-action="@{create}">
  <label>Title

    <input type="text" name="title" data-th-value="${payload?.title()}"><br>

  </label>
  <label>Details

    <input type="text" name="details" data-th-value="${payload?.details()}"><br>
  </label>
  <label>Price

    <input type="text" name="price" data-th-value="${payload?.price()}"><br>
  </label>
  <label>Quantity

    <input type="text" name="quantity" data-th-value="${payload?.quantity()}"><br>
  </label>
  <button type="submit">Create!</button>

</form>

</body>
</html>